* {
    font-family: Tahoma, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    background-color: #f1f1f1;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #e00000;
    box-shadow: 2px 2px 5px 2px rgb(238, 238, 238);
}

.navbar li {
    list-style-type: none;
    float: right;
}

.navbar .leftside {
    float: left;
}

.navbar a {
    display: block;
    color: white;
    padding: 15px 20px;
    font-size: 20px;
    font-family: tahoma;
    text-align: center;
    text-decoration: none;
}

.navbar a:hover, .active {
    background-color: rgba(255, 255, 255, 0.3);
}

#mainDiv {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    height: 100%;
}

.sectionDiv {
    border-left: 10px solid red;
    padding: 20px;
    padding-left: 10px;
    margin-bottom: 40px;
    width: 920px;
    height: 460px;
    background-color: white;
    box-shadow: 0px 5px 5px 0px lightgrey;
}

.pictureDiv {
    align-content: center;
    float: left;
    width: 366px;
    height: 458px;
}

.pictureDiv p {
    color: gray;
    font-size: 15px;
    padding: 10px;
}

.pictureDiv img {
    margin: 2px;
    width: 360px;
    height: 360px;
    border: 1px solid lightgray;
}

.pictureDiv a {
    text-align: center;
    display: block;
    background-color: red;
    color: white;
    width: 250px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    text-decoration: none;
}

.pictureDiv a:hover {
    background-color: white;
    color: red;
    box-shadow: 0px 0px 0px 2px red inset;
}

.detailDiv {
    float: left;
    margin-left: 20px;
    width: 532px;
    height: 460px;
}

h1 span {
    color: red;
}

.statName {
    color: gray;
    font-size: 16px;
}

.detailDiv p:last-child, .skillDiv p {
    margin-top: 10px;
    line-height: 1.8;
}

.infoDiv {
    margin-top: 20px;
    width: 532px;
    height: auto;
}

.infoDetails {
    padding-right: 10px;
    float: left;
    width: 261px;
    height: auto;
}

.infoDetails:last-child {
    padding: 0;
}

.infoDetails li {
    list-style-type: none;
    margin: 20px;
    margin-left: 0;
    margin-right: 0;
}

.infoDetails img {
    float: left;
    width: 60px;
    height: 60px;
    margin: 10px;
}

.infoDetails img:hover {
    opacity: 0.5;
}

.infoDetails div {
    margin-top: 10px;
}

li span {
    color: gray;
}

.skillDiv {
    margin: 20px;
    float: left;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.skillDiv img {
    width: 100px;
    height: 100px;
    margin-right: 50px;
    float: left;
}

.skillDiv p {
    color: #6d6d6d;
}

.footer {
    width: 100%;
    height: 60px;
    color: white;
    background-color: #707070;
}

.footer .rights {
    float: left;
}

.footer div:last-child, .rights {
    padding: 20px 20px;
    float: right;
}

.resume {
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 960px;
    height: 1200px;
    background-color: white;
    border: 1px solid black;
}

.resume img {
    width: 100%;
    height: 100%;
    padding-left: 20px;
}